option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings.production"
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"


container_commands:

  00_packages:
    command: "pip install -r config/requirements/prod.txt"

  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

  03_collectstatic:
    command: "python manage.py collectstatic --noinput --clear"
